@import '../../styles/mixins';
@import '../../styles/variables';

.product-select {
  display: flex;
  height: auto;
  min-height: none;
  flex-flow: row wrap;
  @media (min-width: 1024px) {
    .navigation-wrapper {
      position: sticky !important;
      top: 1px;
      width: 100%;
      max-height: 1180px;
      min-height: 300px;
      display: flex;
      height: 100vh;
      @media (max-width: 1024px) {
        height: auto;
      }

      &.has-bundle {
        max-height: 1180px;
        @media (max-width: 1024px) {
          height: auto;
        }
      }

      @media (max-width: 1024px) {
        height: auto;
      }
    }
    .product-select {
      &__image-carousel {
        background-image: linear-gradient(to bottom, #ededf5 1%, #ffffff 49%);
        width: 65%;
        height: 1180px;
        &__img {
          width: 100%;
          object-position: center;
          height: 100%;
          object-fit: cover; // this was changed from cover -> contain at Ryan's request (BLEN-139)
          &::selection {
            background-color: transparent;
          }
        }
        @include respond-to('small') {
          width: 100%;
        }
      }

      &__controls {
        width: 35%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $primary-purple-tint;
        text-align: center;
        height: 1180px;
        @include respond-to('small') {
          width: 100%;
        }
      }
    }
  }

  &__image-carousel {
    @include carousel-root;

    &__img {
      @include carousel-image;
      @media (min-width: map-get($breakpoints, 'large-min')) {
        height: 900px;
      }
    }

    .arrow {
      @include carousel-arrow;

      &.arrow--left {
        left: 20px;
        @include respond-to('small') {
          left: 10px;
        }
      }
      &.arrow--right {
        right: 20px;
        @include respond-to('small') {
          right: 10px;
        }
      }
    }
  }
}
