@import '../../styles/variables';

.product-select__controls__shipping-notification {
  font-family: Bold;
  letter-spacing: 1.75px;
  text-align: center;
  line-height: 1.33;
  font-size: $text-small;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;

  &.compact {
    padding: 0;
    margin: 0;
  }

  .normal-size {
    &__label {
      color: $primary-purple;
    }

    &__countdown {
      color: $secondary-purple-2;
    }
  }
}
