@import '../../styles/variables';
@import '../../styles/mixins';

.blendjet-demo {
  @include gradient-primary-purple-turquoise(to bottom);
  height: 950px;
  padding-top: 65px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include respond-to('small') {
    height: auto;
    padding-bottom: 50px;
  }

  &__mobile-value-props {
    display: none;
    @include respond-to('small') {
      display: block;
    }
  }

  &__title-block {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    color: $grayscale-white;
    width: 570px;
    margin-bottom: 80px;

    @include respond-to('small') {
      width: auto;
      padding-right: 45px;
      padding-left: 45px;
      margin-bottom: 35px;
    }

    &__title {
      line-height: 32px;
      letter-spacing: 3.5px;
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: Medium;
      text-align: center;
      margin-bottom: 20px;

      @include respond-to('small') {
        font-size: 24px;
      }
      // @media screen and (max-width: 768px) {
      //   font-size: 24px;
      // }
    }

    &__subtitle {
      font-family: Regular;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: center;
      width: 420px;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        width: auto;
      }
    }
  }

  &__display {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    @include respond-to('small') {
      display: none;
    }

    &__animation {
      margin-right: 75px;
      // margin-top: 130px;

      @include respond-to('small') {
        margin-right: 0;
        margin-top: 30px;
      }
      &__img {
        height: 500px;
        width: auto;

        @include respond-to('small') {
          height: 375px;
        }
      }
    }

    &__value-props {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-top: 25px;
      max-width: 390px;
      @include respond-to('small') {
        max-width: none;
      }

      & img {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__buy-now {
    &__button {
      @include button-primary('white');
      width: 300px;
    }
  }
}

.mobile-demo {
  margin-top: 20px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.features-container {
  display: flex;
  justify-content: center;
  color: $grayscale-white;
}

.features-heading {
  font-size: 24px;
  font-family: Medium;
  letter-spacing: 4px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}

.features-column-1 {
  // width: 60%;
  display: flex;
  flex-flow: column nowrap;
  @include respond-to('small') {
    width: 80%;
  }
}

.features-row {
  display: flex;
  margin-bottom: 40px;
  @include respond-to('small') {
    flex-flow: column nowrap;
  }
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    height: 70px;
    width: 70px;
    max-width: auto;
  }
}

.features-text-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 25px;

  @include respond-to('small') {
    margin-left: 0;
    margin-top: 20px;
  }

  &__title {
    font-family: Bold;
    font-size: $text-small;
    letter-spacing: 1.75px;
    line-height: 1.17;
    text-transform: uppercase;

    @include respond-to('small') {
      text-align: center;
    }
  }

  &__text {
    font-family: Regular;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.29;
    @include respond-to('small') {
      text-align: center;
    }
  }
}
