@import '../../styles/mixins';
@import '../../styles/variables';

.product-grid {
  --card-size: calc(
    calc(1400px - calc(2rem * calc(var(--columns) - 1))) / var(--columns)
  );
  padding: 5rem 2rem;
  max-width: calc(1400px + 4rem);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  grid-gap: 2rem;

  @include respond-to('small') {
    grid-template-columns: 1fr;
  }

  &--no-results {
    display: block;
    text-align: center;
  }
}
