// Define different value maps for different sales
// $laborDay: (
//   canvasBg:
//     "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='160'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='647.583' y1='3.313' x2='648.523' y2='3.313' gradientTransform='matrix(1440 0 0 160 -932472 -450)'%3E%3Cstop offset='0' stop-color='%23bdd6f7'/%3E%3Cstop offset='.996' stop-color='%23e295c1'/%3E%3C/linearGradient%3E%3Cpath d='M0 0h1440v160H0V0z' fill-rule='evenodd' clip-rule='evenodd' fill='url(%23a)'/%3E%3Cpath d='M656.3 530c-28.1-4.4-56.6-7-84.2-13.5-156.6-37-261.8-130.2-295.2-289.2C232.6 16.4 360.3-169.9 539-215.8c104.7-26.9 197.5-3 269.3 80 98.2 113.6 50 295.1-88.9 338.3-59.5 18.6-113.5 6.2-157.7-38.8-34.6-35.2-41.4-86.3-17.6-126 3.4 5.5 6.5 10.1 9.3 14.9 20 33.7 59.9 53.2 96.5 46.8 45.3-7.8 73.5-37.2 82.4-85.4 6.8-36.8-10.7-73.8-46.4-93.7C600.5-127.1 470-101.3 423 17.4c-47.1 119 20.7 265.7 146.3 318.2 125.4 52.3 272.2 8.2 360.2-108.2 143.2-189.4 85.3-455.9-127-578.1-123.3-71-254.3-83.2-392.2-42.4 1.7-2.4 2.3-4 3.4-4.7 110.1-64.2 227.6-101 356.1-87.3 113.3 12.1 204.6 67.9 277.3 154 96.8 114.5 138 248 122.5 396-22.6 215.9-175.7 410.9-409 454.9-25.3 4.8-51 6.9-76.5 10.3h-27.8v-.1z' opacity='.15' fill-rule='evenodd' clip-rule='evenodd' fill='%23f6f6f6'/%3E%3C/svg%3E",
//   splitElementBg: #ff8488,
//   splitElementText: #fff,
//   simpleText: cornflowerblue,
//   simpleTextSpan: #373975,
// );
// $blackFriday: (
//   canvasBg:
//     "data:image/svg+xml;charset=utf-,%3Csvg width='1440' height='160' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='2.766%25' y1='49.406%25' x2='97.895%25' y2='50.591%25' id='b'%3E%3Cstop offset='0%25'/%3E%3Cstop stop-color='%23333' offset='100%25'/%3E%3C/linearGradient%3E%3Cpath id='a' d='M0 0h1440v160H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='c' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='url(%23b)' xlink:href='%23a'/%3E%3Cpath d='M656.29 530c-28.106-4.403-56.638-6.996-84.24-13.513-156.623-36.962-261.763-130.19-295.2-289.217-44.34-210.878 83.358-397.211 262.078-443.067 104.656-26.855 197.514-3.024 269.263 80.03 98.156 113.605 49.953 295.052-88.88 338.348-59.512 18.558-113.49 6.166-157.703-38.753-34.63-35.183-41.418-86.332-17.578-125.978 3.418 5.468 6.476 10.139 9.314 14.941 19.954 33.74 59.912 53.155 96.469 46.822 45.255-7.846 73.516-37.154 82.371-85.42 6.753-36.785-10.694-73.803-46.395-93.71-85.302-47.58-215.832-21.77-262.774 96.87-47.083 119.002 20.657 265.74 146.345 318.154 125.444 52.313 272.233 8.228 360.246-108.193 143.215-189.44 85.338-455.89-127.016-578.08-123.305-70.952-254.327-83.18-392.205-42.362 1.68-2.373 2.263-4.044 3.43-4.726 110.07-64.208 227.562-101.022 356.14-87.285 113.34 12.109 204.587 67.94 277.34 153.97 96.82 114.506 138.005 248.039 122.534 396.037-22.564 215.876-175.686 410.916-409.016 454.854-25.263 4.754-51.013 6.912-76.539 10.278h-27.985z' fill='%23F6F6F6' opacity='.15' mask='url(%23c)'/%3E%3C/g%3E%3C/svg%3E",
//   splitElementBg: #fff,
//   splitElementText: #000,
//   simpleText: #b8860b,
//   simpleTextSpan: bisque,
// );
// $valentinesDay: (
//   canvasBg:
//     "data:image/svg+xml;charset=utf-8,%3Csvg width='1440' height='160' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='2.766%25' y1='49.406%25' x2='97.895%25' y2='50.591%25' id='b'%3E%3Cstop stop-color='%23DB7093' offset='0%25'/%3E%3Cstop stop-color='%23ffdab9' offset='100%25'/%3E%3C/linearGradient%3E%3Cpath id='a' d='M0 0h1440v160H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='c' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='url(%23b)' xlink:href='%23a'/%3E%3Cpath d='M656.29 530c-28.106-4.403-56.638-6.996-84.24-13.513-156.623-36.962-261.763-130.19-295.2-289.217-44.34-210.878 83.358-397.211 262.078-443.067 104.656-26.855 197.514-3.024 269.263 80.03 98.156 113.605 49.953 295.052-88.88 338.348-59.512 18.558-113.49 6.166-157.703-38.753-34.63-35.183-41.418-86.332-17.578-125.978 3.418 5.468 6.476 10.139 9.314 14.941 19.954 33.74 59.912 53.155 96.469 46.822 45.255-7.846 73.516-37.154 82.371-85.42 6.753-36.785-10.694-73.803-46.395-93.71-85.302-47.58-215.832-21.77-262.774 96.87-47.083 119.002 20.657 265.74 146.345 318.154 125.444 52.313 272.233 8.228 360.246-108.193 143.215-189.44 85.338-455.89-127.016-578.08-123.305-70.952-254.327-83.18-392.205-42.362 1.68-2.373 2.263-4.044 3.43-4.726 110.07-64.208 227.562-101.022 356.14-87.285 113.34 12.109 204.587 67.94 277.34 153.97 96.82 114.506 138.005 248.039 122.534 396.037-22.564 215.876-175.686 410.916-409.016 454.854-25.263 4.754-51.013 6.912-76.539 10.278h-27.985z' fill='%23F6F6F6' opacity='.15' mask='url(%23c)'/%3E%3C/g%3E%3C/svg%3E",
//   splitElementBg: #dc143c,
//   splitElementText: #fff,
//   simpleText: #373975,
//   simpleTextSpan: #8b0000,
// );
$spingSale: (
  canvasBg:
    "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='160'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='647.583' y1='3.313' x2='648.523' y2='3.313' gradientTransform='matrix(1440 0 0 160 -932472 -450)'%3E%3Cstop offset='0' stop-color='%23bdd6f7'/%3E%3Cstop offset='.996' stop-color='%23e295c1'/%3E%3C/linearGradient%3E%3Cpath d='M0 0h1440v160H0V0z' fill-rule='evenodd' clip-rule='evenodd' fill='url(%23a)'/%3E%3Cpath d='M656.3 530c-28.1-4.4-56.6-7-84.2-13.5-156.6-37-261.8-130.2-295.2-289.2C232.6 16.4 360.3-169.9 539-215.8c104.7-26.9 197.5-3 269.3 80 98.2 113.6 50 295.1-88.9 338.3-59.5 18.6-113.5 6.2-157.7-38.8-34.6-35.2-41.4-86.3-17.6-126 3.4 5.5 6.5 10.1 9.3 14.9 20 33.7 59.9 53.2 96.5 46.8 45.3-7.8 73.5-37.2 82.4-85.4 6.8-36.8-10.7-73.8-46.4-93.7C600.5-127.1 470-101.3 423 17.4c-47.1 119 20.7 265.7 146.3 318.2 125.4 52.3 272.2 8.2 360.2-108.2 143.2-189.4 85.3-455.9-127-578.1-123.3-71-254.3-83.2-392.2-42.4 1.7-2.4 2.3-4 3.4-4.7 110.1-64.2 227.6-101 356.1-87.3 113.3 12.1 204.6 67.9 277.3 154 96.8 114.5 138 248 122.5 396-22.6 215.9-175.7 410.9-409 454.9-25.3 4.8-51 6.9-76.5 10.3h-27.8v-.1z' opacity='.15' fill-rule='evenodd' clip-rule='evenodd' fill='%23f6f6f6'/%3E%3C/svg%3E",
  splitElementBg: mediumpurple,
  splitElementText: #fff,
  simpleText: #6495ed,
  simpleTextSpan: #373975,
);

// Here we choose which of the above maps to use for values
$saleName: $spingSale;

$canvasBg: map-get($saleName, canvasBg);
$splitElementBg: map-get($saleName, splitElementBg);
$splitElementText: map-get($saleName, splitElementText);
$simpleText: map-get($saleName, simpleText);
$simpleTextSpan: map-get($saleName, simpleTextSpan);

/* START Added by Ryan for BFCM */
.outer-canvas-bfcm {
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bold';
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}
.canvas-bfcm {
  width: 100%;
  background-image: url($canvasBg);
  background-size: cover;
  background-position: center center;
}
.col-bfcm {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.entry-title-bfcm {
  font-size: 34px;
  letter-spacing: 4.25px;
  color: white;
  text-align: center;
  margin: 18px 0 0 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.content-split-element-bfcm {
  display: inline-block;
  line-height: 45px;
  padding: 0 18px;
  background-color: $splitElementBg;
  letter-spacing: 5px;
  font-size: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  font-style: italic;
  margin: 8px 15px 0 15px;
  color: $splitElementText;
}
.simple-text-bfcm {
  display: block;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 0 18px 0;
  letter-spacing: 1.5px;
  text-align: center;
  color: $simpleText;
  font-family: 'Medium';
}
.simple-text-bfcm span {
  color: $simpleTextSpan;
}
.b-hide-bfcm {
  color: $simpleText;
}
@media (max-width: 576px) {
  .entry-title-bfcm {
    letter-spacing: 2.6px;
    font-size: 21px;
  }
  .content-split-element-bfcm {
    margin: 5px;
    padding: 0 5px;
    line-height: 22px;
    border-radius: 4px;
    letter-spacing: 2.3px;
    font-size: 14px;
  }
  .simple-text-bfcm {
    line-height: 16px;
    margin: 3px 0 18px 0;
    font-size: 12px;
  }
  .simple-text-bfcm span {
    display: block;
    width: 100%;
  }
  .b-hide-bfcm {
    display: none;
  }
}

@media (min-width: 576px) {
  .hide-desktop {
    display: none;
  }
}

/* END Added by Ryan for BFCM */
